name: sanity
on:
  pull_request:
    paths-exclude:
      - '.github/**'
      - '!.github/workflows/**'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  # through 1 to 9
  PLUGIN_VERBOSITY: ${{ vars.PLUGIN_VERBOSITY }}
  # - ' '
  # - '-ginkgo.v'
  # - '-ginkgo.vv'
  SANITY_VERBOSITY: ${{ vars.SANITY_VERBOSITY }}
  TRACING_SETTING: ${{ vars.TRACING_SETTING }}
  COMPOSE_DEFAULTS: '--exit-code-from=sanity --always-recreate-deps --force-recreate'

jobs:
  build:
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'skip-tests') && github.event.pull_request.draft == false }}
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - run: echo "${{ secrets.WEKAFS_API_SECRET_YAML }}" > tests/csi-sanity/wekafs-api-secret.yaml
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - uses: docker/build-push-action@v6
        with:
          context: .
          file: tests/csi-sanity/ga-Dockerfile
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: sanity:latest
          load: true

  directory_volume_and_snapshots:
    runs-on: self-hosted
    needs: build
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - run: docker-compose -f tests/csi-sanity/docker-compose-snapshotcaps.yaml up $COMPOSE_DEFAULTS
        env:
          SANITY_FUNCTION: directory_volume_and_snapshots

  directory_volume_and_snapshots_nfs:
    needs: directory_volume_and_snapshots
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - run: docker-compose -f tests/csi-sanity/docker-compose-nfs-snapshotcaps.yaml up $COMPOSE_DEFAULTS
        env:
          SANITY_FUNCTION: directory_volume_and_snapshots_nfs

  snaphot_volumes_with_2nd_level_shapshots:
    needs: directory_volume_and_snapshots_nfs
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - run: docker-compose -f tests/csi-sanity/docker-compose-snapshotcaps.yaml up $COMPOSE_DEFAULTS
        env:
          SANITY_FUNCTION: snaphot_volumes_with_2nd_level_shapshots

  snaphot_volumes_with_2nd_level_shapshots_nfs:
    needs: snaphot_volumes_with_2nd_level_shapshots
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - run: docker-compose -f tests/csi-sanity/docker-compose-nfs-snapshotcaps.yaml up $COMPOSE_DEFAULTS
        env:
          SANITY_FUNCTION: snaphot_volumes_with_2nd_level_shapshots_nfs

  filesystem_volumes:
    needs: snaphot_volumes_with_2nd_level_shapshots_nfs
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - run: docker-compose -f tests/csi-sanity/docker-compose-snapshotcaps.yaml up $COMPOSE_DEFAULTS
        env:
          SANITY_FUNCTION: filesystem_volumes

  filesystem_volumes_nfs:
    needs: filesystem_volumes
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - run: docker-compose -f tests/csi-sanity/docker-compose-nfs-snapshotcaps.yaml up $COMPOSE_DEFAULTS
        env:
          SANITY_FUNCTION: filesystem_volumes_nfs
